################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Patika/Patika.Dto/bin/Debug/netcoreapp2.1
/Patika/Patika.DataContext/obj/Debug/netcoreapp2.1
/Patika/Patika.DataContext/obj
/Patika/Patika.DataContext/bin/Debug/netcoreapp2.1
/Patika/.vs/Patika/v15
/Patika/.vs/Patika/DesignTimeBuild
/Patika/Patika.Dto/obj/Debug/netcoreapp2.1
/Patika/Patika.Dto/obj
/Patika/Patika.Entity/bin/Debug/netcoreapp2.1
/Patika/Patika.Entity/obj
/Patika/Patika.Manager/bin/Debug/netcoreapp2.1
/Patika/Patika.Manager/obj
/Patika/Patika.Repository/bin/Debug/netcoreapp2.1
/Patika/Patika.Repository/obj
/Patika/Patika.UI/bin/Debug/netcoreapp2.1
/Patika/Patika.UI/obj/project.assets.json
/Patika/Patika.UI/obj/Patika.UI.csproj.nuget.g.targets
/Patika/Patika.UI/obj/Patika.UI.csproj.nuget.g.props
/Patika/Patika.UI/obj/Patika.UI.csproj.nuget.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.Views.pdb
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.Views.dll
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.TagHelpers.output.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.TagHelpers.input.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.RazorTargetAssemblyInfo.cs
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.RazorTargetAssemblyInfo.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.RazorCoreGenerate.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.RazorAssemblyInfo.cs
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.RazorAssemblyInfo.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.pdb
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.dll
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.csprojAssemblyReference.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.csproj.FileListAbsolute.txt
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.csproj.CoreCompileInputs.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.csproj.CopyComplete
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.assets.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.AssemblyInfoInputs.cache
/Patika/Patika.UI/obj/Debug/netcoreapp2.1/Patika.UI.AssemblyInfo.cs
/Patika/Patika.Utils/bin/Debug/netcoreapp2.1
/Patika/Patika.Utils/obj
