################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Patika/Patika.Dto/bin/Debug/netcoreapp2.1
